<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninova.mlc.data.PurchaseMapper">

    <insert id="insertRecord" parameterType="com.ninova.mlc.vo.PurchaseForm" useGeneratedKeys="true" keyProperty="id">
        insert into purchase(userId,name,code,principal,number,type,startTime,history,state)
        values(#{userId},#{name},#{code},#{principal},#{number},#{type},#{type},#{startTime},'0',0)
    </insert>

    <select id="getAll" resultMap="PurchaseRecord">
        select * from purchase where state=0
    </select>

    <select id="selectRecordsByUserId" resultMap="PurchaseRecord">
        select * from purchase where userId=#{userId} and state=0
    </select>

    <select id="selectRecordByUserIdAndCode" resultMap="PurchaseRecord">
        select * from purchase where userId=#{userId} and code=#{code} and state=0
    </select>

    <select id="selectRecordByUserIdAndName" resultMap="PurchaseRecord">
        select * from purchase where userId=#{userId} and name=#{name} and state=0
    </select>

    <select id="selectRecordsByUserIdAndType" resultMap="PurchaseRecord">
        select * from purchase where userId=#{userId} and type=#{type} and state=0
    </select>

    <update id="updateStateByUserIdAndCode">
        update purchase set state = 1
        where userId = #{userId} and code=#{code}
    </update>

    <update id="updateStateByUserIdAndName">
        update purchase set state = 1
        where userId = #{userId} and name=#{name}
    </update>

    <update id="updateHistory">
        update purchase set history = #{history}
        where Id = #{Id}
    </update>

    <resultMap id="PurchaseRecord" type="com.ninova.mlc.po.PurchaseRecord">
        <result column="id" property="id"></result>
        <result column="userId" property="userId"></result>
        <result column="name" property="name"></result>
        <result column="code" property="code"></result>
        <result column="principal" property="principal"></result>
        <result column="number" property="number"></result>
        <result column="type" property="type"></result>
        <result column="startTime" property="startTime"></result>
        <result column="state" property="state"></result>
    </resultMap>
</mapper>